{% load i18n %}
<nav class="nav-sidebar" aria-label="Sidebar Menu">
  <h1 class="visually-hidden">Sidebar Menu</h1>
    <ul>
    {% for app in nav_app_list %}
        <li class="nav-app nav-app-{{ app.app_label }}{% if app.app_url in request.path %} nav-sidebar-app-active{% endif %}"{% if app.app_url == request.path %} aria-current="page"{% endif %}>
            <a
                class="nav-app-name"
                href="{{ app.app_url }}"
                title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}"
            >{{ app.name }}</a>
            <ul>
            {% for model in app.models %}
                <li class="nav-model nav-model-{{ model.object_name|lower }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    {% else %}
                        {{ model.name }}
                    {% endif %}
                    {% if model.add_url %}
                    <a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</nav>
