#container {
    min-height: 100vh;
}

.login #container {
    min-height: auto;
}

#content {
    float: left;
    width: calc(100% - 300px);
    padding-left: 260px;
}

.login #content {
    width: 100%;
}

.dashboard #content {
    width: calc(100% - 600px);
}

.nav-sidebar {
    background: #f8f8f8;
    height: 100vh;
    font-size: 13px;
    position: fixed;
    width: 220px;
}

.nav-app {
    margin: 20px 0;
}

.nav-app:first-child {
    margin-top: 0;
}

.nav-app-name {
    background: #79aec8;
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    padding: 8px;
    text-transform: uppercase;
}

.nav-app-name:link, .nav-app-name:visited {
    color: #fff;
}

.nav-app-name:hover {
    text-decoration: underline;
}

.nav-model {
    font-weight: bold;
    padding: 5px 10px;
}

@media (max-width: 1024px) {
    .nav-sidebar {
        display: none;
    }
}
