#container {
    min-height: 100vh;
}

.login #container {
    min-height: auto;
}

#content {
    float: left;
    width: calc(100% - 300px);
    padding-left: 260px;
}

.login #content {
    width: 100%;
}

.dashboard #content {
    width: calc(100% - 600px);
}

.nav-sidebar-background {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #79aec8;
    width: 220px;
    z-index: -100;
}

.nav-sidebar {
    background: #f8f8f8;
    height: 100vh;
    font-size: 13px;
    position: fixed;
    width: 220px;
    overflow-y: auto;
}

.nav-sidebar ul, .nav-sidebar li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.breadcrumbs + .nav-sidebar { 
    border-top: 3px solid #417690;
    /* padding-top: 3px; */
}

.nav-sidebar .nav-app {
    margin: 20px 0;
}

.nav-sidebar .nav-app:first-child {
    margin-top: 0;
}

.nav-sidebar .nav-app-name {
    background: #79aec8;
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    padding: 8px;
    padding-left: 12px;
    text-transform: uppercase;
}

.nav-sidebar .nav-app-name:link, .nav-sidebar .nav-app-name:visited {
    color: #fff;
}

.nav-sidebar .nav-app-name:hover {
    text-decoration: underline;
}

.nav-sidebar [aria-current=page] .nav-app-name,
.nav-sidebar .nav-sidebar-active .nav-app-name,
.nav-sidebar .nav-sidebar-active .nav-app-name:hover {
    color: #417690;
    background-color: #ffc;
    border-left: 6px solid #417690;
    padding-left: 6px;
    text-decoration: none;
}

.nav-sidebar [aria-current=page] .nav-app-name,
.nav-sidebar .nav-sidebar-app-active .nav-app-name {
    /* color: #417690;
    background-color: #ffc; */
    border-left: 6px solid #417690;
    padding-left: 6px;
}

.nav-sidebar .nav-app .nav-model {
    font-weight: bold;
    padding: 5px 12px;
}

.nav-sidebar .nav-app .nav-model[aria-current=page],
.nav-sidebar .nav-app .nav-model.nav-sidebar-active {
    background-color: #ffc;
    border-left: 6px solid #417690;
    padding-left: 6px;
}

.nav-sidebar .nav-model[aria-current=page] a,
.nav-sidebar .nav-model.nav-sidebar-active a {
    color: #417690;
}

.nav-sidebar .visually-hidden {
    display: none;
}

@media (max-width: 1024px) {
    .nav-sidebar {
        display: none;
    }
}
